spec: 'component-validator/supervisor?icp#0.1.2',
config:
   redisUrl:
      type: 'string'
   redisKeyspace:
      type: 'string'
state:
   requiredComponents: []
   initedComponents: []
   components: {}
   startTimestamp: {}
   ended: false
   scheduledTimeouts: {}
   scheduledIntervals: {}
