spec: 'supervisor#0.1.2',
config:
   redisUrl:
      type: 'string'
   redisKeyspace:
      type: 'string'

state:
   requiredComponents: []
   initedComponents: []
   componentStates: {}
   components: {}
   startTimestamp: {}
   scheduledTimeouts: {}
   scheduledIntervals: {}
